
<div class="row">
    <div class="m-content col-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head doNotPrint">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            New Sale
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">

                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="panel-body">

                    <form [formGroup]="newProformaForm" id="proforma_form" class="form">
                        <div id="proforma_header" class="doNotPrint row">

                            <div class="col-6" style="float: left;">
                                <h5 class="text-bold text-gray"> Client Details</h5>
                                <div class="form-inline">
                                    <label for="bill-to-field" class="control-label col-3"> <span> Bill to: </span> </label>
                                    <!--Type ahead for customers-->
                                    <input type="text" class="form-control m-input " id="bill-to-field" formControlName="bill_to"
                                           (selectItem)="selectedCustomer($event)" [ngbTypeahead]="searchCustomer" />
                                </div>

                                <br>
                                <div class="form-inline">
                                    <label for="tin-field" class="control-label col-3">TIN No:</label>
                                    <!--Type ahead for customers-->
                                    <input formControlName="TIN_NO" type="text" class="form-control m-input " id="tin-field" placeholder="">
                                </div>
                                <br>
                                <div class="form-inline">
                                    <label for="add-field" class="control-label col-3">Address:</label>
                                    <!--Type ahead for customers-->
                                    <input formControlName="address" type="text" class="form-control m-input " id="add-field" placeholder="">
                                </div>
                            </div>

                            <div class="col-6" style="float: left;">
                                <h5 class="text-bold text-gray"> Payment Details  </h5>
                                <div class="form-inline">
                                    <label class="control-label col-3">Date : &emsp;</label>

                                    <div class="input-group date" id="m_datepicker_2">
                                        <input formControlName="sale_date" class="form-control m-input" placeholder="Select date" type="text">
                                        <span class="input-group-addon">
								            <i class="la la-calendar-check-o"></i>
							            </span>
                                    </div>

                                </div>

                                <br>
                                <div class="form-inline">
                                    <label for="ref-field" class="control-label col-3">Reference : &emsp;</label>
                                    <!--Type ahead for customers-->
                                    <input formControlName="reference" type="number" class="form-control m-input " id="ref-field" placeholder="P001010000197">
                                </div>
                                <br>
                                <div class="form-inline">
                                    <label for="fsno-field" class="control-label col-3">FSNO : &emsp;</label>
                                    <!--Type ahead for customers-->
                                    <input formControlName="FSNO" type="number" class="form-control m-input" id="fsno-field" value="{{nextFSNO}}" disabled="true">
                                </div>
                            </div>
                            <br/>
                        </div>

                        <div id="proforma_header_print" class="row m--hide">

                            <h1 style="font-weight: bold; font-size: 28px;">
                                Ellilta Aluminium Techincs And Trading PLC
                            </h1>
                            <hr/>
                            <br/>
                            <div style="text-align: center">
                                <h2>Sale</h2>
                            </div>
                            <br/>
                            <div class="col-6" style="float: left;">
                                <h5 class="text-bold text-gray"> Client Details</h5>
                                <div class="form-inline">
                                    <label class="control-label"> <span> Bill to: {{newProformaForm.getRawValue().bill_to}} </span> </label>
                                </div>
                                <div class="form-inline">
                                    <label for="tin-field" class="control-label">TIN No: <span>{{newProformaForm.getRawValue().TIN_NO}}</span> </label>
                                </div>
                                <div class="form-inline">
                                    <label for="add-field" class="control-label">Address: <span>{{newProformaForm.getRawValue().address}}</span></label>
                                </div>
                            </div>

                            <div class="col-6" style="float: right; text-align: right; child-align: right;">
                                <h5 class="text-bold text-gray"> Payment Details  </h5>
                                <div class="">
                                    <label for="ref-field" class="">Date : <span> {{newProformaForm.getRawValue().sale_date}} </span>&emsp;</label>
                                </div>
                                <div>
                                    <label for="ref-field" class="">Reference : <span> {{newProformaForm.getRawValue().reference}} </span></label>
                                </div>

                                <div class="">
                                    <label for="fsno-field" class="">FSNO : <span> {{nextFSNO}} </span></label>
                                </div>
                            </div>

                        </div>

                        <br/><br/><br/>

                        <div id="proforma_body" class="invoice-env">

                            <div class="row doNotPrint">
                                <div class="col-4">

                                    <div class="form-group">
                                        <label class="control-label">Item Category</label>

                                        <select (change)="categorySelected()" [(ngModel)]="selectedItemCategory" [ngModelOptions]="{standalone: true}" class="form-control">
                                            <option *ngFor="let cat of itemCategories;" value="{{cat.name}}"> {{cat.name}} </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="form-group">
                                        <label for="item-id" class="form-control-label">
                                            ID:
                                        </label>
                                        <input type="text" class="form-control m-input " id="item-id" (keyup)="applyFilter($event.target.value)" />
                                    </div>

                                </div>

                                <div class="col-4">

                                    <div class="form-group">
                                        <label for="item-name" class="control-label">Item Name:</label>

                                        <input type="text" class="form-control m-input " id="item-name" (keyup)="applyFilter($event.target.value)" />
                                    </div>

                                </div>

                            </div>

                            <div id="itemList" class="m-portlet doNotPrint">
                                <mat-table #table [dataSource]="dataSource">

                                    <!-- Custom ID Column -->
                                    <ng-container matColumnDef="Custom-ID">
                                        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.custom_id}} </mat-cell>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                    </ng-container>

                                    <!-- Sub-category Column -->
                                    <ng-container matColumnDef="Sub-category">
                                        <mat-header-cell *matHeaderCellDef> Sub-category </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.subcategory}} </mat-cell>
                                    </ng-container>

                                    <!-- Unit Column -->
                                    <ng-container matColumnDef="Unit">
                                        <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
                                    </ng-container>

                                    <!-- Unit price Column -->
                                    <ng-container matColumnDef="unit-price">
                                        <mat-header-cell *matHeaderCellDef> Unit price </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="itemDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: itemDisplayedColumns;" (click)="itemRowSelected(row)"  [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
                                </mat-table>
                            </div>
                            <br/>

                            <div class="row doNotPrint">
                                <div class="col-2">
                                    <p>Selected Item</p>
                                    <h4>{{selectedItemName}}</h4>
                                </div>
                                <div class="col-3">

                                    <div class="form-group">
                                        <label class="control-label">Price Option</label>

                                        <select (change)="itemPriceChosed()" [(ngModel)]="selectedItemprice" [ngModelOptions]="{standalone: true}" class="form-control">
                                            <option *ngFor="let price of selectedItemPrices;" value="{{price}}"> {{price}} </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-3">

                                    <div class="form-group">
                                        <label for="unit-price" class="control-label">Unit Price Per <span> {{selectedItemUnit}} </span></label>

                                        <input type="number" [(ngModel)]="selectedItemPriceValue" [ngModelOptions]="{standalone: true}" readonly="" class="form-control" id="unit-price" placeholder="0.0">
                                    </div>

                                </div>


                                <div class="col-2">

                                    <div class="form-group">
                                        <label for="item-quantity" class="control-label">Quantity :</label>

                                        <input type="number" (change)="calculateTotalPrice()" min="0" (keyup)="calculateTotalPrice()" [(ngModel)]="itemQuantity" [ngModelOptions]="{standalone: true}" class="form-control" id="item-quantity" placeholder="">
                                    </div>

                                </div>

                                <div class="col-2">

                                    <div class="form-group">
                                        <label for="total" class="control-label">Total :</label>

                                        <input type="number" [(ngModel)]="totalPrice" [ngModelOptions]="{standalone: true}" readonly="" class="form-control" id="total" placeholder="0.0">
                                    </div>

                                </div>

                            </div>

                            <button (click)="addToProformaItems()" type="button" class="doNotPrint btn m-btn--pill m-btn m-btn--air btn-success" >
                                <span>
                                    <i class="fa fa-plus"></i>
                                    Add Item
                                </span>
                            </button>


                            <br/> <br/>
                            <!-- Invoice Entries -->
                            <table [ngBusy]="busy" class="table m-table m-table--head-bg-brand table-bordered" style="font-weight: 800; font-size: 12px;">
                                <thead>
                                <tr class="no-borders" style="font-weight: 800;">
                                    <th class="text-center hidden-xs">Item-Code</th>
                                    <th width="" class="text-center">Product</th>
                                    <th width="" class="text-center">Sub Category</th>
                                    <th width="" class="text-center">Unit</th>
                                    <th width="" class="text-center">Kg/Unit</th>
                                    <th class="text-center hidden-xs">Quantity</th>
                                    <th class="text-center hidden-xs">Price/Kg</th>
                                    <th width="" class="text-center">Unit Price</th>
                                    <th class="text-center">Line Total</th>
                                </tr>
                                </thead>

                                <tbody>


                                <tr *ngFor="let item of proformaItems; let i = index;" [ngClass]="{'highlight': item.name === selectedItemName }" (click)="saleItemListClicked(item.name);">
                                    <td class="text-center hidden-xs">{{item.custom_id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.subcategory}}</td>
                                    <td class="text-center hidden-xs">{{item.unit}}</td>
                                    <td class="text-center hidden-xs">{{item.kg_per_bar}}</td>
                                    <td class="text-center"> {{item.quantity}} </td>
                                    <td class="text-center"> <input *ngIf="item.kg_per_bar > 0" (keyup)="calculateSubTotal()" type="number" min="0" [(ngModel)]="pricePerKg" [ngModelOptions]="{standalone: true}" class="form-control input-group-sm"> <span *ngIf="item.kg_per_bar" class="print_later"> {{pricePerKg}} </span> </td>
                                    <td class="text-right" *ngIf="!item.kg_per_bar; else profile_price"> {{item.item_price | number:'1.2-2' }} </td>
                                    <ng-template #profile_price> <td class="text-right"> {{ ( item.kg_per_bar * pricePerKg) | number:'1.2-2' }} </td>  </ng-template>
                                    <td class="text-right text-primary text-bold" *ngIf="!item.kg_per_bar; else profile_price_line_total" >{{item.item_price * item.quantity | number:'1.2-2'}}</td>
                                    <ng-template #profile_price_line_total> <td class="text-right text-primary text-bold"> {{ ( item.kg_per_bar * pricePerKg * item.quantity) | number:'1.2-2' }} </td>  </ng-template>
                                </tr>
                                </tbody>
                            </table>

                            <br/>
                            <button type="button" (click)="removeItemFromSaleItems();" class="doNotPrint btn m-btn--pill m-btn m-btn--air btn-danger">
                                <span>
                                    <i class="fa fa-remove"></i>
                                    Remove Item
                                </span>
                            </button>
                            <hr/>
                            <br/>
                            <!-- Invoice Subtotals and Totals -->
                            <div class="row" >


                                <div class="col-6 " style="font-weight: 600; font-size: 14px; float: left;">
                                    <address>
                                        A.A, YEKA<br>
                                        W. 08 H.No New / FA104 <br>
                                        MEGENAGNA ZEFMESH BUILDING 1ST FLOOR<br>
                                        Tel: 09-63-49-49-49 / 0911517767 <br>
                                        TIN: 0050305108 <br>
                                    </address>
                                </div>

                                <div class="col-6 " style="font-weight: 700; font-size: 15px; float: right; text-align: right;">
								<span>
									Sub - Total amount:
									<strong> ${{subTotal | number : '1.2-2'}}</strong>
								</span> <br/>

                                    <span>
									Discount:

										<input (keyup)="calculateGrandTotal()" formControlName="discount" type="number" value="0" class="m-input--air m-input" style="width: 55px;">

                                    <strong>
                                        <label>
                                            <em class="print_later"> {{newProformaForm.getRawValue().discount}} </em> % &nbsp;
                                            ${{((newProformaForm.getRawValue().discount/100) * subTotal) | number : '1.2-2'}}
                                        </label>
									</strong>
								</span> <br/>

                                    <span>
                                        <input (click)="confirmationWithOutVat()" class="input-group-sm" type="checkbox" checked="newProformaForm.getRawValue().withVat" formControlName="withVat" />
									VAT:
									<strong *ngIf="newProformaForm.getRawValue().withVat"> ${{ subTotal * 0.15 | number : '1.2-2' }}</strong>
                                    <strong *ngIf="!newProformaForm.getRawValue().withVat"> ${{ subTotal * 0.075 | number : '1.2-2' }}</strong>
								</span> <br/>
                                    <span>
									Grand Total:
									<strong>$ {{grandTotal | number : '1.2-2' }} </strong>
                                    <input class="m-hide" formControlName="amount" [(ngModel)]="grandTotal" type="hidden">

								</span>
                                </div>
                                <br/><br/>
                            </div>

                        </div>

                        <div class="row" id="proforma_footer">
                            <br/><br/>
                            <div class="col-12 m--align-right">
                                <input type="button" [disabled]="newProformaForm.invalid" (click)="saveProforma(newProformaForm.value)" class="btn m-btn--pill m-btn--air btn-outline-success m-btn m-btn--custom m-btn--bolder btn-lg" value="Save">  
                                <input type="button" [disabled]="newProformaForm.invalid" (click)="_print_(newProformaForm.value)" class="btn m-btn--pill m-btn--air btn-success m-btn m-btn--custom m-btn--bolder btn-lg" value="Save &amp; Print">
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

