<div class="m-subheader doNotPrint">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Projects
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Home
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Projects
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-aligned">
            <button class="btn btn-outline-success mat-fab mat-accent" (click)="resetProjectAllocationItems();" data-toggle="modal" data-target="#m_modal_4"> <i class="fa fa-plus" style="font-size: 2.5rem;"></i> </button> &emsp;
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    New Project
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                </button>
            </div>
            <form [formGroup]="newProjectForm">
                <div class="modal-body">
                    <div id="formFirstRow" class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="item-id" class="form-control-label">
                                    Project Name :
                                </label>
                                <input type="text" formControlName="name" class="form-control m-input m-input--air" id="item-id" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="item-name" class="form-control-label">
                                    Project Budget Amount :
                                </label>
                                <input formControlName="amount" type="number" class="form-control m-input--air" id="item-name" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="client" class="form-control-label">
                                    Client :
                                </label>
                                <input formControlName="client" type="text" class="form-control m-input--air" id="client" required>
                            </div>
                        </div>
                    </div>

                    <div id="formFourthRow" class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">
                                    Project Agreement :
                                </label>
                                <textarea formControlName="agreement" cols="3" rows="3" class="form-control m-input--air" id="message-text"></textarea>
                            </div>
                        </div>
                        <div class="col-6 Profile_cat">
                            <div class="form-group">
                                <label for="item-color" class="form-control-label">
                                    Address :
                                </label>
                                <input formControlName="address" type="text" class="form-control m-input--air" id="item-color" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="item-filter" class="control-label">Filter :</label>
                        <input type="text" class="form-control m-input " id="item-filter" (keyup)="applyFilter($event.target.value)" />
                    </div>

                    <div class="row">
                        <div id="itemList" class="m-portlet col-7">
                            <mat-table #table [dataSource]="dataSource">

                                <!-- Custom ID Column -->
                                <ng-container matColumnDef="Custom-ID">
                                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.custom_id}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                </ng-container>

                                <!-- Stock Price Column -->
                                <ng-container matColumnDef="Stock Price">
                                    <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.stock_price}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="itemDisplayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: itemDisplayedColumns;" (click)="itemRowSelected(row)"  [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
                            </mat-table>
                        </div>

                        <div class="col-5">
                            <p>Selected Item</p>
                            <h4>{{selectedItemName}}</h4>
                             <hr/>
                            <label>Quantity : </label>
                            <input type="number" min="0" [(ngModel)]="selectedItemQuantity" [ngModelOptions]="{standalone: true}" class="form-control" id="item-quantity" placeholder="">
                            <br/>
                            <button (click)="addtoAllocatedItems()" class="btn btn-success m-btn m-btn--air"> Add  </button>
                        </div>
                        <br/>
                    </div>

                    <div class="row">
                        <table [ngBusy]="busy" class="table m-table m-table--head-bg-brand table-bordered" >
                            <thead>
                            <tr class="no-borders">
                                <th class="text-center hidden-xs">#ID</th>
                                <th width="" class="text-center">Item</th>
                                <th class="text-center hidden-xs">Quantity</th>
                                <th width="" class="text-center">Stock Price</th>
                                <th class="text-center">Line Total</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr *ngFor="let item of projectAllocationItems; let i = index;">
                                <td class="text-center hidden-xs">{{item.custom_id}}</td>
                                <td>{{item.name}}</td>
                                <td> {{item.quantity}} </td>
                                <td> {{item.item_price}} </td>
                                <td class="text-right text-primary text-bold">{{item.item_price * item.quantity}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" data-dismiss="modal" (click)="registerProject(newProjectForm.value)" class="btn btn-primary" >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->

<div class="row">
    <div class="m-content col-lg-12">
        <div class="row">
            <div *ngFor="let project of projects;" class="col-4">
                <div class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit" style="min-height: 180px">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    {{project.name}}
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <div aria-expanded="true" class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover">
                                        <a class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle" href="#" ng-reflect-href="#">
                                            <i class="la la-ellipsis-h m--font-brand"></i>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav">
                                                            <li class="m-nav__item">
                                                                <a (click)="showItemsAllocation(project)" class="m-nav__link" href="" ng-reflect-href="">
                                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                                    <span class="m-nav__link-text">
																	 Item allocations
																</span>
                                                                </a>
                                                            </li>
                                                            <!--<li class="m-nav__item">-->
                                                                <!--<a (click)="deleteProject(project)" class="m-nav__link" href="" ng-reflect-href="">-->
                                                                    <!--<i class="m-nav__link-icon flaticon-close"></i>-->
                                                                    <!--<span class="m-nav__link-text">-->
																	<!--Delete Project-->
																<!--</span>-->
                                                                <!--</a>-->
                                                            <!--</li>-->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <div class="m-widget20" id="widget_{{project.id % 5}}">
                            <div class="m-widget20__number font-weight-bold">
                               $ {{project.amount | number:'.2'}}
                            </div>
                        </div>
                        <div>
                            {{project.client}}
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!--begin::Modal-->
        <div class="modal fade" id="m_modal_List" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <form>
                <div class="modal-content">

                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel_">
                            Allocated Items List
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                        </button>
                    </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="item-filter" class="control-label">Filter :</label>
                                    <input type="text" class="form-control m-input " id="item-filter" (keyup)="applyFilter($event.target.value)" />
                                </div>

                                <div class="row">
                                    <div id="itemList" class="m-portlet col-7">
                                        <mat-table #table [dataSource]="dataSource">

                                            <!-- Custom ID Column -->
                                            <ng-container matColumnDef="Custom-ID">
                                                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.custom_id}} </mat-cell>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="Name">
                                                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                            </ng-container>

                                            <!-- Stock Price Column -->
                                            <ng-container matColumnDef="Stock Price">
                                                <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.stock_price}} </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="itemDisplayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: itemDisplayedColumns;" (click)="itemRowSelected(row)"  [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
                                        </mat-table>
                                    </div>

                                    <div class="col-5">
                                        <p>Selected Item</p>
                                        <h4>{{selectedItemName}}</h4>
                                        <hr/>
                                        <label>Quantity : </label>
                                        <input type="number" min="0" [(ngModel)]="selectedItemQuantity" [ngModelOptions]="{standalone: true}" class="form-control" id="item-quantity" placeholder="">
                                        <br/>
                                        <button (click)="addtoAllocatedItems()" class="btn btn-success m-btn m-btn--air"> Add  </button>
                                    </div>
                                    <br/>
                                </div>

                                <table [ngBusy]="busy" class="table m-table m-table--head-bg-brand table-bordered" >
                                    <thead>
                                    <tr class="no-borders">
                                        <th class="text-center hidden-xs">#ID</th>
                                        <th width="" class="text-center">Item</th>
                                        <th class="text-center hidden-xs">Quantity</th>
                                        <th width="" class="text-center">Stock Price</th>
                                        <th class="text-center">Line Total</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    <tr *ngFor="let item of projectAllocationItems; let i = index;">
                                        <td class="text-center hidden-xs">{{item.custom_id}}</td>
                                        <td>{{item.name}}</td>
                                        <td> <input id="{{item.id}}" (keyup)="itemQuantityChanged($event)" class="form-control m-input m-input--air" type="number" value="{{item.quantity}}" style="width: 100px;" /> </td>
                                        <td> {{item.item_price}} </td>
                                        <td class="text-right text-primary text-bold">{{item.item_price * item.quantity}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                            <div class="container-fluid">
                                <label class="font-weight-bold" style="float: right; font-size: 18px;">Total allocated item cost : {{totalAllocatedItemPriceValue | number:'.2'}}</label>
                            </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" (click)="updateAllocatedProjectItems();" class="btn btn-warning" data-dismiss="modal">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--end::Modal-->

    </div>
</div>