
mat-header-row {
    display: none;
}

.mat-row {
    min-height: 34px;
    background-color: #e1e2e494;
}

.highlight{
    background: rgba(62, 58, 111, 0.2);
}

.mat-table {
    overflow-y: scroll;
    height: 175px;
}

#widget_0 {
    background-color: #FFB822;
}

/*Project widgets different colors */

#widget_1 {  background-color: #F4516CBD;  }
#widget_2 {  background-color: #716ACA78;  }
#widget_3 {  background-color: #34BFA378;  }
#widget_4 {  background-color: #5867DD78;  }