.mat-column-Actions {
    flex: 0 0 80px !important;
}

.mat-table {
    overflow-y: scroll;
    height: 450px;
}

@media print{

    * {
        color: black !important;
    }

    .doNotPrint{
        display:none !important;
    }

    #proforma_header_print {
        display: block !important;
    }

    .print_this {
        display: inline-block !important;
    }

    .print_this > h1,h2,h3,h4,a {
        color: black !important;
    }

    input {
        display: none !important;
    }

    .input-group {
        display: none !important;
    }
}

@page { margin: 0 !important; }

.black-border > th, td {
    border: 2px solid #000 !important;
}

.control-label, .form-inline {
    color: black !important;
}