<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Items
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Home
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Items
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="row">
        <div class="col-lg-12">

            <div class="m-portlet m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs-line m-tabs-line--success m-tabs-line--2x" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab" ng-reflect-href="#m_tabs_6_1" aria-expanded="false">
                                    <i class="flaticon-list"></i>
                                    All Items
                                </a>
                            </li>
                            &emsp;
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab" ng-reflect-href="#m_tabs_6_2" aria-expanded="false">
                                    <i class="flaticon-settings"></i>
                                    Item Attributes and Metrics
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" aria-expanded="false">
                            <div class="example-container mat-elevation-z8">

                                <div class="example-header">

                                    <div class="row">
                                        <div class="col-12">

                                            <div>
                                                <div class="m-input-icon m-input-icon--left col-3" style="font-size: 16px; float: left;">
                                                    <input matInput class="form-control m-input" id="m_form_search" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." type="text">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                                </div>
                                            </div>

                                            <div id="addItem" class="col-2" style="float: right;">
                                                <button class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" data-toggle="modal" data-target="#m_modal_4" >

                                        <span>
                                            <i class="la la-cart-plus"> &nbsp;</i>
                                            Add Item
                                        </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <br/>
                                <!--begin::Modal-->
                                <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Register Item
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                                </button>
                                            </div>
                                            <form [formGroup]="newItemForm">
                                                <div class="modal-body">
                                                    <div id="zerothZow" class="row">
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-category">
                                                                    Item Category
                                                                </label>

                                                                <select (change)="itemCategoryChanged('new')" formControlName="category" class="form-control m-input m-input--air" id="item-category">
                                                                    <option *ngFor="let item_category of itemsCategories" value="{{item_category.name}}">
                                                                        {{item_category.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="formFirstRow" class="row">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label for="item-id" class="form-control-label">
                                                                    Item Code :
                                                                </label>
                                                                <input type="text" formControlName="custom_id" class="form-control m-input m-input--air" id="item-id" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="item-name" class="form-control-label">
                                                                    Item Name :
                                                                </label>
                                                                <input formControlName="name" type="text" class="form-control m-input--air" id="item-name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 Profile_cat_new">
                                                            <div class="form-group">
                                                                <label for="item-color" class="form-control-label">
                                                                    Color :
                                                                </label>
                                                                <input formControlName="color" type="text" class="form-control m-input--air" id="item-color" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-units">
                                                                    Unit of Measurement
                                                                </label>
                                                                <select formControlName="unit" class="form-control m-input m-input--air" id="item-units">
                                                                    <option *ngFor="let item_unit of itemUnitsOfMeasurement" value="{{item_unit}}">
                                                                        {{item_unit}}
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="formSecondRow" class="row">
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="stock_price">
                                                                    Item Stock Price per <span *ngIf="this.newItemForm.getRawValue().category != 'Profile'" class="i-unit"> {{newItemForm.getRawValue().unit}} </span>
                                                                    <span *ngIf="this.newItemForm.getRawValue().category == 'Profile'" class="i-unit"> Kg </span>
                                                                </label>
                                                                <input id="stock_price" formControlName="stock_price" type="number" class="form-control m-input m-input--air"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-sub-category">
                                                                    Item Sub Category
                                                                </label>
                                                                <select formControlName="subcategory" class="form-control m-input m-input--air" id="item-sub-category">
                                                                    <option *ngFor="let item_sub_category of itemsSubCategories" value="{{item_sub_category.name}}">
                                                                        {{item_sub_category.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-4 Profile_cat_new">
                                                            <div class="form-group m-form__group">
                                                                <label for="kg_per_unit">
                                                                    Kg per unit
                                                                </label>
                                                                <input id="kg_per_unit" formControlName="kg_per_bar" type="number" class="form-control m-input m-input--air"/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div id="formThirdRow" class="row">
                                                        <div class="col-12 alert m-alert m-alert--default">
                                                            <h4 class="" style="float: left;">price</h4>
                                                            <input type="button" (click)="addNewPrice()" class="btn" style="float: right;" value="Another Price">
                                                            <br/>
                                                            <table id="priceTable" class="form table" border="0">
                                                                <tbody>
                                                                <tr class="" *ngFor="let _price_ of itemsPrices;  let i=index ">
                                                                    <td>
                                                                        <div class="form-group m-form__group row">
                                                                            <label class="col-2 col-form-label">
                                                                                Price {{i + 1}} per <span *ngIf="this.newItemForm.getRawValue().category != 'Profile'" class="i-unit"> {{newItemForm.getRawValue().unit}} </span>
                                                                                <span *ngIf="this.newItemForm.getRawValue().category == 'Profile'" class="i-unit"> Kg </span>
                                                                            </label>
                                                                            <div class="col-4">
                                                                                <input class="form-control m-input m-input--air" formControlName="item_prices" (change)="setItemPrice($event)" data-id="{{i}}" type="number" placeholder="0.00">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                    <div id="formFourthRow" class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="message-text" class="form-control-label">
                                                                    Item Description :
                                                                </label>
                                                                <textarea formControlName="item_description" cols="3" rows="3" class="form-control m-input--air" id="message-text"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="item-stock-reorder-level" class="form-control-label">
                                                                    Stock Reorder Level :
                                                                </label>
                                                                <input type="number" formControlName="stock_reorder_level" class="form-control m-input m-input--air" id="item-stock-reorder-level" required>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" data-dismiss="modal" (click)="registerItem(newItemForm.value)" class="btn btn-primary" >
                                                        Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Modal-->

                                <!--begin: Up date :Modal-->
                                <div class="modal fade" id="m_modal_Update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Update Item
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                                                </button>
                                            </div>
                                            <form [formGroup]="updateItemForm">
                                                <div class="modal-body">
                                                    <div id="zerothZow" class="row">
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-category">
                                                                    Item Category
                                                                </label>

                                                                <select (change)="itemCategoryChanged('update')" formControlName="category" class="form-control m-input m-input--air" id="item-category">
                                                                    <option *ngFor="let item_category of itemsCategories" value="{{item_category.name}}">
                                                                        {{item_category.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="formFirstRow" class="row">
                                                        <div class="col-3">
                                                            <div class="form-group">
                                                                <label for="item-id" class="form-control-label">
                                                                    ID :
                                                                </label>
                                                                <input type="text" formControlName="custom_id" class="form-control m-input m-input--air" id="item-id" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <label for="item-name" class="form-control-label">
                                                                    Item Name :
                                                                </label>
                                                                <input formControlName="name" type="text" class="form-control m-input--air" id="item-name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 Profile_cat_update">
                                                            <div class="form-group">
                                                                <label for="item-color" class="form-control-label">
                                                                    Color :
                                                                </label>
                                                                <input formControlName="color" type="text" class="form-control m-input--air" id="item-color" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-units">
                                                                    Unit of Measurement
                                                                </label>
                                                                <select formControlName="unit" class="form-control m-input m-input--air" id="item-units">
                                                                    <option *ngFor="let item_unit of itemUnitsOfMeasurement" value="{{item_unit}}">
                                                                        {{item_unit}}
                                                                    </option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="formSecondRow" class="row">
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="stock_price">
                                                                    Item Stock Price per <span *ngIf="this.updateItemForm.getRawValue().category != 'Profile'" class="i-unit"> {{updateItemForm.getRawValue().unit}} </span>
                                                                    <span *ngIf="this.updateItemForm.getRawValue().category == 'Profile'" class="i-unit"> Kg </span>
                                                                </label>
                                                                <input id="stock_price" formControlName="stock_price" type="number" class="form-control m-input m-input--air"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group m-form__group">
                                                                <label for="item-sub-category">
                                                                    Item Sub Category
                                                                </label>
                                                                <select formControlName="subcategory" class="form-control m-input m-input--air" id="item-sub-category">
                                                                    <option *ngFor="let item_sub_category of itemsSubCategories" value="{{item_sub_category.name}}">
                                                                        {{item_sub_category.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-4 Profile_cat_update">
                                                            <div class="form-group m-form__group">
                                                                <label for="kg_per_unit">
                                                                    Kg per unit
                                                                </label>
                                                                <input id="kg_per_unit" formControlName="kg_per_bar" type="number" class="form-control m-input m-input--air"/>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div id="formThirdRow" class="row">
                                                        <div class="col-12 alert m-alert m-alert--default">
                                                            <h4 class="" style="float: left;">price</h4>
                                                            <input type="button" (click)="addNewPrice()" class="btn" style="float: right;" value="Another Price">
                                                            <br/>
                                                            <table id="priceTable" class="form table" border="0">
                                                                <tbody>
                                                                <tr class="" *ngFor="let _price_ of itemsPrices;  let i=index ">
                                                                    <td>
                                                                        <div class="form-group m-form__group row">
                                                                            <label class="col-2 col-form-label">
                                                                                Price {{i + 1}} per <span *ngIf="this.updateItemForm.getRawValue().category != 'Profile'" class="i-unit"> {{updateItemForm.getRawValue().unit}} </span>
                                                                                <span *ngIf="this.updateItemForm.getRawValue().category == 'Profile'" class="i-unit"> Kg </span>
                                                                            </label>
                                                                            <div class="col-4" *ngIf="showUpdateModal">
                                                                                <input id="{{i}}" class="form-control m-input m-input--air" [ngModelOptions]="{standalone: true}" [ngModel]="itemsPrices[i]" (change)="setItemPrice($event)" type="number" placeholder="0.00">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                    <div id="formFourthRow" class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="message-text" class="form-control-label">
                                                                    Item Description :
                                                                </label>
                                                                <textarea formControlName="item_description" cols="3" rows="3" class="form-control m-input--air" id="message-text"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="item-stock-reorder-level" class="form-control-label">
                                                                    Stock Reorder Level :
                                                                </label>
                                                                <input type="number" formControlName="stock_reorder_level" class="form-control m-input m-input--air" id="item-stock-reorder-level" required>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" data-dismiss="modal" (click)="updateItem(updateItemForm.value)" class="btn btn-warning" >
                                                        Update
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Modal-->

                                <br/>
                                <mat-table #table [dataSource]="dataSource">

                                    <!-- ID Column -->
                                    <ng-container matColumnDef="ID">
                                        <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.custom_id}} </mat-cell>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> <a href="#" (click)="itemClicked(element)"> {{element.name}} </a>  </mat-cell>
                                    </ng-container>

                                    <!-- Sub-Category Column -->
                                    <ng-container matColumnDef="Sub-Category">
                                        <mat-header-cell *matHeaderCellDef> Sub-Category </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.subcategory}} </mat-cell>
                                    </ng-container>

                                    <!-- Category Column -->
                                    <ng-container matColumnDef="Category">
                                        <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
                                    </ng-container>

                                    <!-- Unit Column -->
                                    <ng-container matColumnDef="Unit">
                                        <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
                                    </ng-container>

                                    <!-- Stock price Column -->
                                    <ng-container matColumnDef="stock-price">
                                        <mat-header-cell *matHeaderCellDef> Stock price </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.stock_price}} </mat-cell>
                                    </ng-container>

                                    <!-- Actions Column -->
                                    <ng-container matColumnDef="Actions">
                                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            &emsp; &emsp;
                                            <button id="{{element.id}}" name="{{element.name}}" (click)="showConfirmation_Remove_Item_Swal($event)" class="btn m-btn--pill btn-sm btn-outline-danger m-btn m-btn--custom" type="button">
                                                x
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="itemDisplayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: itemDisplayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_2" role="tabpanel" aria-expanded="false">

                            <div class="row">

                                <div class="col-4">
                                    <div class="m-portlet m-portlet--metal m-portlet--head-solid-bg">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Item Categories
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">
                                            <div class="m-scrollable mCustomScrollbar _mCS_42 mCS-autoHide" data-max-height="150" data-scrollable="true" data-scrollbar-shown="true" style="overflow: visible; max-height: 100%; position: relative;">
                                                <div id="mCSB_42" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                                                    <div id="mCSB_42_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">

                                                        <ul class="list-group list-group-flush">
                                                            <li  (click)="categorySelected($event)" *ngFor="let category of itemsCategories" class="list-group-item " [ngClass]="{selected_: category.name === selectedCategoryName }">
                                                                <span id="{{ ' ' + category.id}}" class="m--regular-font-size-lg1"> {{category.name}} </span>
                                                                    <button name="{{category.name}}" id="{{category.id}}" class="close" (click)="showConfirmation_remove_Category_Swal($event)" >
                                                                        &times;
                                                                    </button>
                                                                <br/>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>

                                                <div id="mCSB_42_scrollbar_vertical" class="mCSB_scrollTools mCSB_42_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                                                    <div class="mCSB_draggerContainer"><div id="mCSB_42_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 12px; max-height: 280px; top: 0px;">
                                                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                                                    </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__foot">
                                            <div class="form-group m-form__group row">
                                                <form class="row" [formGroup]="newItemCategoryForm" (submit)="registerNewItemCategory(this.newItemCategoryForm.value)">
                                                    <div class="col-9">
                                                        <input formControlName="name" class="form-control m-input"  type="text" placeholder="New Category">
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-outline-accent"> <i class="la la-plus"></i> Add  </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="m-portlet m-portlet--mobile m-portlet--success m-portlet--head-solid-bg">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        {{selectedCategoryName}} Sub Categories
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">
                                            <div class="m-scrollable mCustomScrollbar _mCS_42 mCS-autoHide" data-max-height="150" data-scrollable="true" data-scrollbar-shown="true" style="overflow: visible; max-height: 100%; position: relative;">
                                                <div id="mCSB_42_" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                                                    <div id="mCSB_42_container_" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">

                                                        <ul class="list-group list-group-flush">
                                                            <li *ngFor="let sub_category of itemsSubCategories" class="list-group-item">
                                                                <span class="m--regular-font-size-lg1"> {{sub_category.name}} </span>
                                                                <button name="{{sub_category.name}}" id="{{sub_category.id}}" type="button" class="close" (click)="showConfirmation_remove_Sub_Category_Swal($event)" aria-label="Close">
                                                                        &times;
                                                                </button>
                                                                <br/>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>

                                                <div id="mCSB_42_scrollbar_vertical_" class="mCSB_scrollTools mCSB_42_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                                                    <div class="mCSB_draggerContainer"><div id="mCSB_42_dragger_vertical_" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 12px; max-height: 280px; top: 0px;">
                                                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                                                    </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__foot">
                                            <div class="form-group m-form__group row">
                                                <form class="row" [formGroup]="newItemSubCategoryForm" (submit)="registerNewItemSubCategory(this.newItemSubCategoryForm.value)">
                                                    <div class="col-9">
                                                        <input formControlName="name" class="form-control m-input"  type="text" placeholder="New Sub Category ">
                                                        <input type="hidden" formControlName="categoryId" [(ngModel)]="selectedCategoryId" />
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-outline-accent"> <i class="la la-plus"></i> Add  </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="m-portlet m-portlet--mobile m-portlet--primary m-portlet--head-solid-bg">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Item Units
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__body">
                                            <div class="m-scrollable mCustomScrollbar _mCS_42 mCS-autoHide" data-max-height="150" data-scrollable="true" data-scrollbar-shown="true" style="overflow: visible; max-height: 100%; position: relative;">
                                                <div id="mCSB_42__" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                                                    <div id="mCSB_42_container__" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">

                                                        <ul class="list-group list-group-flush">
                                                            <li *ngFor="let item_unit of itemUnitsOfMeasurement" class="list-group-item">
                                                                <span class="m--regular-font-size-lg1"> {{item_unit}} </span>
                                                                <button name="{{item_unit}}" id="{{item_unit}}" type="button" class="close" (click)="showConfirmation_remove_Item_Unit_Swal($event)" aria-label="Close">
                                                                    &times;
                                                                </button>
                                                                <br/>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>

                                                <div id="mCSB_42_scrollbar_vertical__" class="mCSB_scrollTools mCSB_42_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                                                    <div class="mCSB_draggerContainer"><div id="mCSB_42_dragger_vertical__" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 12px; max-height: 280px; top: 0px;">
                                                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                                                    </div>
                                                        <div class="mCSB_draggerRail"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="m-portlet__foot">
                                            <div class="form-group m-form__group row">
                                                <form class="row" [formGroup]="newItemUnitForm" (submit)="registerNewItemUnit(this.newItemUnitForm.value)">
                                                    <div class="col-9">
                                                        <input formControlName="name" class="form-control m-input"  type="text" placeholder="New Item Unit ">
                                                    </div>
                                                    <div class="col-3">
                                                        <button class="btn btn-outline-accent"> <i class="la la-plus"></i> Add  </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>




                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

