input-full-width {
    width: 100%;
}

.f-left {
    float:left;
}

.f-right {
    float: right;
}

mat-header-row {
    background-color: #34bfa3;
    color: white;
    font-weight: bold;
}

.mat-column-ID , .mat-column-Actions {
    flex: 0 0 80px !important;
}

.selected_ {
    background-color: #34b7a1;
}