<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon" href="">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" >
						<span class="m-nav__link-text">
							Home
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" >
						<span class="m-nav__link-text">
							Dashboard
						</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="m--align-right">
            <ng-template #popContent class="mat-background-primary col-3">
                    <form [formGroup]="stockInForm" (submit)="stockInformSubmit(this.stockInForm.value); p.close();" class="m-form" id="mainForm" name="mainForm">
                        <p>
                            <label class="control-label" >  Category :</label>
                            <select (change)="categorySelected()" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" class="form-control m-input m-input--air" id="item-category">
                                <option *ngFor="let item_category of itemsCategories" value="{{item_category.name}}">
                                    {{item_category.name}}
                                </option>
                            </select>
                        </p>
                        <p>
                            <label class="control-label" >  Sub Category :</label>
                            <select (change)="categorySelected()" [(ngModel)]="selectedSubCategory" [ngModelOptions]="{standalone: true}" class="form-control m-input m-input--air" id="item-sub-category">
                                <option *ngFor="let item_sub_category of itemSubCategories" value="{{item_sub_category.name}}">
                                    {{item_sub_category.name}}
                                </option>
                            </select>
                        </p>
                        <p>
                            <label class="control-label" > Item Name :</label>
                            <input type="text" class="form-control m-input " id="bill-to-field" formControlName="Name"
                                   (selectItem)="itemNameSelected($event)" [ngbTypeahead]="searchItem" />
                        </p>

                        <p>
                            <label class="control-label">Quantity :</label>
                            <input type="hidden" formControlName="date_in"  />
                            <input formControlName="quantity" (keyup)="calculateValue($event)" class="form-control m-input m-input--air" type="number" />
                        </p>
                        <p>
                            <span> Value | {{stockInValue}} </span>
                        </p>
                        <p>
                            <input class="btn btn-outline-success" type="submit" name="Submit" value="Enter" />
                        </p>
                    </form>
            </ng-template>
            <button type="button" class="btn btn-brand m-btn--air btn-lg" placement="bottom"
                    [ngbPopover]="popContent" popoverTitle="Enter Stock In"
                    #p="ngbPopover">
                <i class="fa fa-plus"></i>
                 &nbsp; Stock In
            </button>
            &emsp; &emsp;
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="m-portlet col-4">
            <div class="m-portlet__body m-portlet__body--no-padding ">
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="">
                                <span class="m-widget1__number m--font-brand">
										<i class="fa fa-shopping-cart"></i> &nbsp; {{stockValueCalcuated_with_price1_InBirr | number:'1.2-2'}}
                                </span>
                                <br/>
                                <hr class="m-separator" style="border-top: dotted 2px;" />
                                <div class="m-widget1__desc">
                                        <span>
                                            Stock Value Calcuated with Price 1
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-portlet col-4">
            <div class="m-portlet__body m-portlet__body--no-padding ">
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="">
                                <span class="m-widget1__number m--font-success">
										<i class="fa fa-dollar"></i> &nbsp; {{stockValueInBirr | number:'1.2-2'}}
                                </span>
                                <br/>
                                <hr class="m-separator" style="border-top: dotted 2px;" />
                                <div class="m-widget1__desc">
                                        <span>
                                            Stock value in Birr
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-portlet col-4">
            <div class="m-portlet__body m-portlet__body--no-padding ">
                <div class="m-widget1">
                    <div class="m-widget1__item">
                        <div class="row m-row--no-padding align-items-center">
                            <div class="">
                                <span class="m-widget1__number m--font-danger">
										<i class="fa fa-money"></i> &nbsp; {{todaySaleAmount | number:'1.2-2'}}
                                </span>
                                <br/>
                                <hr class="m-separator" style="border-top: dotted 2px;" />
                                <div class="m-widget1__desc">
                                        <span>
                                            Today's Sale in Birr
                                        </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!--begin::Portlet-->
        <div class="m-portlet col-12 m-portlet--tabs">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Stock Report
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand  m-tabs-line--right m-tabs-line-danger" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab">
                                Current Stock Report
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2" role="tab">
                                Stock In Logs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active col-12" id="m_portlet_tab_1_1">

                        <div class="m-portlet col-12">

                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="flaticon-statistics"></i>
                                </span>
                                        <h3 class="m-portlet__head-text" style="font-weight: 800; font-size: 18px;">
                                            {{stockChartPopulateBy}} Report
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a (click)="updateStockChart()" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                                <i class="la la-refresh"></i>
                                            </a>
                                        </li>
                                        <li class="m-portlet__nav-item">
                                            <a data-toggle="modal" data-target="#m_modal_4" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                                <i class="la la-eye"></i>
                                            </a>
                                        </li>
                                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                                            <a class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle" href="">
                                                <i class="la la-ellipsis-v"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav">
                                                                <li class="m-nav__section m-nav__section--first">
                                                                    <i class="m-nav__link-icon flaticon-analytics"></i>
                                                                    <span class="m-nav__section-text">
                                                                Populate report by ...
                                                            </span>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" >
                                                            <span class="m-nav__link-text" (click)="populateByCategory()">
                                                                    Category
                                                                </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item">
                                                                    <a class="m-nav__link" >
                                                            <span class="m-nav__link-text" (click)="populateByProduct()">
                                                                    Item
                                                                </span>
                                                                    </a>
                                                                </li>

                                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                                <li class="m-nav__item">
                                                                    <a (click)="exportStockChartToExcel()" class="btn btn-sm btn-outline-primary m-btn m-btn--pill m-btn--wide btn-sm" href="#" ng-reflect-href="#">
                                                                        <i class="m-nav__link-icon flaticon-statistics"></i> &nbsp; Export data
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="chart" style="display: block">
                                    <canvas  baseChart #baseChart="base-chart"
                                             [datasets]="StockChartData"
                                             [labels]="StockChartLabels"
                                             [options]="StockChartOptions"
                                             [legend]="StockChartLegend"
                                             [chartType]="StockChartType"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="tab-pane" id="m_portlet_tab_1_2">
                        <div class="m-portlet col-12" style="margin-top: 17px;">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="row">
                                            <br/>
                                            <h3 class="m-portlet__head-title m-portlet__head-text col-10" style="float: left;">
                                                Stock In History Log
                                            </h3>

                                            <input class="form-control col-2" type="text" [(ngModel)]="stockInSearchTerm" [ngModelOptions]="{standalone: true}" placeholder="Search" style="float: right;" />
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body" style="padding: 8px;">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="m_widget4_tab1_content">
                                        <div class="m-scrollable mCustomScrollbar _mCS_20 mCS-autoHide" data-max-height="484" data-scrollable="true" style="height: 484px; overflow: visible; max-height: 484px; position: relative;"><div id="mCSB_20" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_20_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                            <div class="m-list-timeline m-list-timeline--skin-light">
                                                <div class="m-list-timeline__items">

                                                    <div *ngFor="let stockIn of StockIns | myListFilterPipe:stockInSearchTerm" class="m-list-timeline__item">
                                                        <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                                        <span class="m-list-timeline__text">
                                            <span style="font-weight: 900; font-size: 14px;">{{stockIn.Name}} &nbsp; </span> quantity <span style="font-weight: 450; font-size: 13px;">{{stockIn.quantity}}</span>
											</span>
                                                        <span class="m-list-timeline__time">
												{{stockIn.date_in}}
											</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div></div><div id="mCSB_20_scrollbar_vertical" class="mCSB_scrollTools mCSB_20_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_20_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 650px; max-height: 650px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                                    </div>
                                    <div class="tab-pane" id="m_widget4_tab2_content"></div>
                                    <div class="tab-pane" id="m_widget4_tab3_content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--end::Portlet-->


        <!--begin::Modal-->
        <div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            {{stockChartPopulateBy}} report details
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table *ngIf="StockChartLabels.length > 0 && itemsQuantities.length > 0" class="table m-table m-table--head-bg-brand table-bordered">
                            <thead>
                            <tr class="no-borders black-border">
                                <th class="text-center hidden-xs">Label</th>
                                <th class="text-center">Value</th>
                            </tr>
                            <tr *ngFor="let _label of StockChartLabels; index as i">
                                <td>{{_label}}</td>
                                <td>{{itemsQuantities[i]}}</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal-->

        <!--begin::Modal-->
        <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">
                            {{salesReportFrequency}} report details
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        &times;
                                    </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table *ngIf="StockChartLabels.length > 0 && itemsQuantities.length > 0" class="table m-table m-table--head-bg-brand table-bordered">
                            <thead>
                            <tr class="no-borders black-border">
                                <th class="text-center hidden-xs">Label</th>
                                <th class="text-center">Value</th>
                            </tr>
                            <tr *ngFor="let _label of salesChartLabels; index as i">
                                <td>{{_label}}</td>
                                <td>{{this.salesChartData[0].data[i]}}</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Modal-->


        <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi col-12">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="flaticon-statistics"></i>
							</span>
                        <h2 class="m-portlet__head-text" style="font-weight: 800; font-size: 18px;">
                            {{salesReportFrequency}} Report
                        </h2>
                        <h2 class="m-portlet__head-label m-portlet__head-label--success">
								<span>
									Sales Report
								</span>
                        </h2>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a (click)="updateSalesChart()" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                <i class="la la-refresh"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item">
                            <a data-toggle="modal" data-target="#m_modal_5" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                <i class="la la-eye"></i>
                            </a>
                        </li>
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" data-dropdown-toggle="hover" aria-expanded="true">
                            <a class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill   m-dropdown__toggle" href="">
                                <i class="la la-ellipsis-v"></i>
                            </a>
                            <div class="m-dropdown__wrapper">
                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 21.5px;"></span>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__content">
                                            <ul class="m-nav">
                                                <li class="m-nav__section m-nav__section--first">
                                                    <i class="m-nav__link-icon flaticon-calendar"></i>
														<span class="m-nav__section-text">
															Time span
														</span>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a class="m-nav__link" >
                                                        <span class="m-nav__link-text" (click)="populateByTime('Daily')">
																Daily
															</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a class="m-nav__link"  (click)="populateByTime('Weekly')">
                                                        <span class="m-nav__link-text">
																Weekly
															</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a class="m-nav__link" >
                                                        <span class="m-nav__link-text" (click)="populateByTime('Monthly')">
																Monthly
															</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__item">
                                                    <a class="m-nav__link" >
                                                        <span class="m-nav__link-text" (click)="populateByTime('MonthlyItemWise')">
																Monthly Item Wise
															</span>
                                                    </a>
                                                </li>
                                                <li class="m-nav__separator m-nav__separator--fit"></li>
                                                <li class="m-nav__item">
                                                    <a (click)="exportSaleChartToExcel()" class="btn btn-sm btn-outline-primary m-btn m-btn--pill m-btn--wide btn-sm" href="#" ng-reflect-href="#">
                                                        <i class="m-nav__link-icon flaticon-statistics"></i> &nbsp; Export data
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <div style="display: block">
                    <canvas baseChart #saleChart="base-chart"
                            [datasets]="salesChartData"
                            [labels]="salesChartLabels"
                            [options]="salesChartOptions"
                            [legend]="salesChartLegend"
                            [chartType]="salesChartType"></canvas>
                </div>
            </div>

            <div class="m-portlet__foot">

                <div class="m-portlet__head-tools" style="" *ngIf="salesReportFrequency == 'MonthlyItemWise'">

                    <label> Year : {{pg_year}} </label> &nbsp; &nbsp;
                    <label> Month: {{pg_month}}</label>
                </div>

                <div class="m-portlet__head-tools" style="float: right;">
                    <ul class="m-portlet__nav row">

                        <li *ngIf="offset" class="m-portlet__nav-item" style="float: left; list-style-type: none;">
                            <a (click)="paginateBackward()" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                <i class="la la-arrow-left"></i>
                            </a>
                        </li>
                        &emsp; &emsp;
                        <li class="m-portlet__nav-item" style="float: right; list-style-type: none;">
                            <a (click)="paginateForward()" class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" href="">
                                <i class="la la-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>

        </div>

    </div>
</div>
