.mat-column-Actions {
    flex: 0 0 80px !important;
}

.mat-table {
    overflow-y: scroll;
    height: 450px;
}

@media print{

    * {
        color: black !important;
    }

    .doNotPrint{
        display:none !important;
    }

    #proforma_header_print {
        display: block !important;
    }

    .print_this {
        display: inline-block !important;
    }
    input {
        display: none !important;
    }

    .input-group {
        display: none !important;
    }

    .table th {
        font-weight: 800 !important;
        color : black !important;
    }

    span , h1 , h2 , h3, h4, h5, td, label {
        font-weight: 800 !important;
        color : black !important;
    }
}

@page { margin: 0 !important; }