<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Customers
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a class="m-nav__link m-nav__link--icon" href="#" ng-reflect-href="#">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Home
						</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link" href="" ng-reflect-href="">
						<span class="m-nav__link-text">
							Customers
						</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content col-12">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="example-container mat-elevation-z8">

                <div class="example-header">

                    <div class="row">
                        <div class="col-12">

                            <div>
                                <div class="m-input-icon m-input-icon--left col-3" style="font-size: 16px; float: left;">
                                    <input matInput class="form-control m-input" id="m_form_search" (keyup)="applyFilter($event.target.value)" placeholder="Filter..." type="text">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
										<span>
											<i class="la la-search"></i>
										</span>
									</span>
                                </div>
                            </div>

                            <div id="addItem" class="col-2" style="float: right;">

                                <ng-template #popContent >
                                    <form [formGroup]="newCustomerForm" (submit)="formSubmit(this.newCustomerForm.value); p.close();" class="m-form" id="mainForm" name="mainForm">
                                        <p>
                                            <label class="control-label" >Name :</label>
                                            <input formControlName="name" class="form-control m-input m-input--air" type="text" />
                                        </p>
                                        <p>
                                            <label class="control-label">TIN No :</label>
                                            <input formControlName="TIN_NO" class="form-control m-input m-input--air" type="number" />
                                        </p>
                                        <p>
                                            <label class="control-label">Phone No :</label>
                                            <input formControlName="phone" class="form-control m-input m-input--air" type="tel" />
                                        </p>
                                        <p>
                                            <label class="control-label">Address :</label>
                                            <input formControlName="address" class="form-control m-input m-input--air" type="text" />
                                        </p>
                                        <p>
                                            <input class="btn btn-outline-success" type="submit" name="Submit" value="Add" />
                                        </p>
                                    </form>
                                </ng-template>
                                <button type="button" class="btn btn-success m-btn--air" placement="bottom"
                                        [ngbPopover]="popContent" popoverTitle="Register Customer"
                                        #p="ngbPopover">
                                    <i class="fa fa-plus"></i>
                                    New Customer &nbsp;
                                </button>

                            </div>

                        </div>
                    </div>


                </div>

                <br/>
                <br/>
                <mat-table #table [dataSource]="dataSource">

                    <!-- ID Column -->
                    <ng-container matColumnDef="ID">
                        <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="TIN">
                        <mat-header-cell *matHeaderCellDef> TIN </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.TIN_NO}} </mat-cell>
                    </ng-container>

                    <!-- Phone_No Column -->
                    <ng-container matColumnDef="Phone No">
                        <mat-header-cell *matHeaderCellDef> Phone_No </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                    </ng-container>

                    <!-- Phone_No Column -->
                    <ng-container matColumnDef="Address">
                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button id="{{element.id}}" name="{{element.name}}" (click)="showConfirmation_Remove_Item_Swal($event)" class="btn m-btn--pill btn-sm btn-outline-danger m-btn m-btn--custom" type="button">
                                x
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="customersDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: customersDisplayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>
