@media print{
    .doNotPrint{
        display:none !important;
    }

    #proforma_header_print {
        display: block !important;
    }

    input {
        display: none !important;
    }

    .input-group {
        display: none !important;
    }

    .print_later {
        display: inline-block !important;
    }

    .table th {
        font-weight: 800 !important;
        color : black !important;
    }

    span , h1 , h2 , h3, h4, h5, td, label {
        font-weight: 800 !important;
        color : black !important;
    }

}

@page { margin: 0 !important; }

#proforma_header_print {
    padding-bottom: 65px;
    font-size: larger;
}

.print_later {
    display: none;
}

mat-header-row {
    display: none;
}

.mat-row {
    min-height: 34px;
    background-color: #e1e2e494;
}

.highlight{
    background: rgba(62, 58, 111, 0.2);
}

.mat-table {
    overflow-y: scroll;
    height: 175px;
}

.table th {
    font-weight: 800 !important;
}