/* You can add global styles to this file, and also import other style files */
mat-header-row {
  background-color: #34bfa3 !important;
  color: white;
  font-weight: bold;
}

.themeColor {
  background-color: #34bfa3 !important;
  color: white;
}

.mat-column-Id {
  flex: 0 0 50px !important;
}
